ma-1L-fe-gef-fp-p0.csv filter=lfs diff=lfs merge=lfs -text
ma-1L-fe-gef-fp-p00.csv filter=lfs diff=lfs merge=lfs -text
ma-1L-fe-gef-fp-p01.csv filter=lfs diff=lfs merge=lfs -text
ma-1L-fe-gef-fp-p1.csv filter=lfs diff=lfs merge=lfs -text
ma-2L-fe-pbdc-fp-p0.csv filter=lfs diff=lfs merge=lfs -text
ma-2L-fe-pbdc-fp-p00.csv filter=lfs diff=lfs merge=lfs -text
ma-2L-fe-pbdc-fp-p01.csv filter=lfs diff=lfs merge=lfs -text
ma-2L-fe-pbdc-fp-p1.csv filter=lfs diff=lfs merge=lfs -text
ma-2L-fe-t790m-osi-fp-p0.csv filter=lfs diff=lfs merge=lfs -text
ma-2L-fe-t790m-osi-fp-p00.csv filter=lfs diff=lfs merge=lfs -text
ma-2L-fe-t790m-osi-fp-p01.csv filter=lfs diff=lfs merge=lfs -text
ma-2L-fe-t790m-osi-fp-p1.csv filter=lfs diff=lfs merge=lfs -text
nma-1L-fe-fp-p0.csv filter=lfs diff=lfs merge=lfs -text
nma-1L-fe-fp-p00.csv filter=lfs diff=lfs merge=lfs -text
nma-1L-fe-fp-p01.csv filter=lfs diff=lfs merge=lfs -text
nma-1L-fe-fp-p1.csv filter=lfs diff=lfs merge=lfs -text
